body{
  background-color: #000000;
}
h1{
  color: rgb(248, 242, 242);
  font-family: 'Roboto Mono', monospace;
  font-size: 60px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}
h3{
  text-align: center;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.bothButtons{
  display: inline block;
  max-width: 15%;
  margin: 0 auto;
}
.homeButtons{
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Roboto Mono', monospace;
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  background-color:#c99d1a;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  cursor: pointer;
}
.homeButtons:hover{
  text-shadow: 5em 5em 5em #c99d1a;
  color:black;
  border-color:#FFFFFF;
  background-color: white;
  }

.bodycontainer{
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: grey;
  background-image: url("https://media.giphy.com/media/piFGZ3Vxk2NHOAPgE3/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 5px solid #000000;
  align-content: center;
}

.gamecontainer{
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: grey;
  background-image: url("https://media.giphy.com/media/9Avtw7enCC1YA/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 5px solid #000000;
  align-content: center;
  align-items: center;
}
.aboutcontainer{
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: grey;
  background-image: url("https://media.giphy.com/media/cGVGgVmAW1qak/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border: 5px solid #000000;
  align-content: center;
  align-items: center;
  .profileImage{
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 30%; 
    margin: 0 auto;
    border: thin solid white;
    margin-bottom: 1%;
  }
  .aboutButtons{
    margin-left: 80%;
  }
}
.iconspecs{
  width:30px;
  height:30px;
  margin-left: 4%;
  margin-top: 1%;
}
h3{
  padding-top: 5%;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}
// .game {
//   display: inline-flex;
//   flex-direction: column;
//   align-items: center;
//   width: 40%;
//   margin-top: 5%;
//   padding-left: 30%;
//   justify-content: center;
// }
.target {
  border-radius: 5px;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  max-width: 40%; 
  margin: 0 auto;
  height: 75px;
  font-size: 45px; 
  background-color: black;
  color: white;
  border: thin solid #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}
.textbox{
  text-align: center;
  border-radius: 5px;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 35%; 
  margin: 0 auto;
  font-size: 20px; 
  background-color:#0a0909b7;
  color: white;
  border: thin solid #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}
.challenge-numbers {
  width: 85%; 
  margin: 1rem auto;
}
.number {
  border: thin solid lightgray;
  background-color: black;
  color: #ffffff;
  width: 40%;
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
  margin: 5% auto;
  display: block;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
}
.number:hover{
  border: double purple;
}

.footer {
  display: flex; 
  width: 90%; 
  justify-content: space-between;  
}
.timer-value { 
  font-size: 2rem;
  color: white;
  background-color: #c99d1a;
  margin-left: 10%;
  width: 7%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.selected{
  border: thin solid lightgray;
  background-color: #eee;
}

.green{
  border: thin solid lightgray;
  background-color: green;
}

.wrong{
  border: thin solid lightgray;
  background-color: red;
}
.popup{
  text-align: center;
  border-radius: 5px;
  margin-top: 15%;
  width: 700px;
  height: 50%;
  font-size: 20px;
  color: white;
  border: thin solid #FFFFFF;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0, 0, 0, 0.658);
  position: absolute;
}

.popup_inner {  
  justify-content: center;
  padding-top: 15%;
}  
